
#thankYou{
	display: none;
	left: 50%;
	margin: -30px 0 0 -200px;
	position: absolute;
	top: 50%;
	width: 640px;
	z-index: 10000;
}

#thankYou h1{
	margin-bottom:20px;
}

#formContainer{
	width: 670px;
	margin:120px auto;
}

.embed #formContainer{
	margin-top:20px;
	margin-bottom:0;
}

.formRow{
	padding: 7px 0;
}
#submit{
    display:none;
}
/*
.formRow label{
	display: inline-block;
	margin-left: -72px;
	padding-right: 8px;
	text-align: right;
	width: 180px;
}*/

.formRow label.radioLabel{
	width:auto;
	margin:0 5px 0 0;
}

.formRow input,
.formRow textarea{
	padding: 5px 8px;
	background-color:#7D7D7D;
	border:none;
	color:#ccc;
	outline:none;
	resize:none;
	font:14px/1.2 Calibri,Arial,sans-serif;
	width: 200px;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: 1px 1px 1px #191919 inset, 0 0 1px #181818 inset;
	-webkit-box-shadow: 1px 1px 1px #191919 inset, 0 0 1px #181818 inset;
	box-shadow: 1px 1px 1px #191919 inset, 0 0 1px #181818 inset;
}

.formRow textarea{
	vertical-align: top;
	width: 250px;
	overflow:auto;
}

.fieldName{
	float: left; 
    margin-right: 3px;
    z-index: 2;
}


.formRow input[type=submit],
.formRow input[type=button]{
	width:120px;
	margin-left: 120px;
	cursor:pointer;
}

.star{
	color:#e20000;
}

.staticError{
	color: #E20000;
	font-size: 11px;
	padding: 4px 0 0 120px;
	text-shadow: 1px 1px 0 #222222;
}

.errorIcon{
	background:url('../img/sprite.png') -100px -150px no-repeat;
	width:18px;
	height:19px;
	display:inline-block;
	position:relative;
	margin-left: -32px;
	vertical-align: middle;
	cursor:pointer;
}
#error_name{
    position:absolute;
    right: 10px;
    top: 23px;
}
#error_description{
    margin-top: 10px;
}
.errorIcon .errorTip{
	background:url('../img/tooltip_bg.png') #9b0506 repeat-x;
	border:1px solid #b40608;
	border-top-color:#e10409;
	color:#460204;
	text-shadow:1px 1px 0 #bb0507;
	
	padding:10px;
	position:absolute;
	z-index:1000;
	font-size:11px;
	width:160px;
	text-align:center;
	top:-10px;
	line-height:1.2;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	
	-moz-box-shadow:0 1px 0 #111;
	-webkit-box-shadow:0 1px 0 #111;
	box-shadow:0 1px 0 #111;
}

#overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#000;
	opacity:0.4;
	filter:alpha(opacity=0.4);
	z-index:100000;
}

#preloader{
	background: url("../img/preloader.gif") no-repeat 12px 10px #000000;
	font-size: 11px;
	height: 20px;
	left: 50%;
	line-height: 20px;
	margin: -20px 0 0 -45px;
	padding: 10px;
	position: fixed;
	text-align: left;
	text-indent: 36px;
	top: 50%;
	width: 90px;
	z-index: 100001;
	
	opacity:0.8;
	filter:alpha(opacity=0.8);
	
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

/***************************
*		Select Boxes
***************************/

.selectContainer{
	background:url('../img/sprite.png') no-repeat;
	padding: 0 15px 0 10px;
	min-width: 186px;
	display: inline-block;
	position: relative;
	cursor:pointer;
	margin-right: 5px;
}

.selectBox{
	height: 30px;
	line-height: 30px;
	text-shadow: 1px 1px 0 #333333;
}

.selectContainer:hover{
	background-position:0 -30px;
}

.selectContainer:hover span{
	background-position:100% -30px;
}

.selectContainer span{
	background:url('../img/sprite.png') no-repeat top right;
	height:30px;
	right: -5px;
	top:0;
	position:absolute;
	width:25px;
}

.selectContainer ul{
	left: 1px;
	list-style: none outside none;
	position: absolute;
	right: -5px;
	top: 32px;
	z-index:10000;
}

.selectContainer li{
		
    background: url("../img/sprite.png") repeat -4px -110px;
	height: 28px;
	line-height: 26px;
    overflow: hidden;
    padding: 0 10px;
    text-shadow: 1px 1px 0 #333333;
	
	-moz-box-shadow: -1px 0 0 #282828, 1px 0 0 #282828;
	-webkit-box-shadow: -1px 0 0 #282828, 1px 0 0 #282828;
	box-shadow: -1px 0 0 #282828, 1px 0 0 #282828;
}

.selectContainer li:hover{
	background: url("../img/sprite.png") repeat -4px -2px;
}

.selectContainer li:first-child{
	border-top:1px solid #666;
}

.selectContainer li:first-child:hover{
	border-top:1px solid transparent;
}


/***************************
*		Checkboxes
***************************/


.formRow .checkBox{
	background: url("../img/sprite.png") repeat 0 -150px;
	display:inline-block;
	width:16px;
	height:16px;
	line-height: 16px;
	vertical-align: middle;
	cursor:pointer;
}

.formRow .checkBox:hover{
	background-position:0 -170px;
}

.formRow .checkBox.checked{
	background-position:-20px -150px;
}

.formRow .checkBox.checked:hover{
	background-position:-20px -170px;
}

/***************************
*		Radios
***************************/

.formRow .radio{
	background: url("../img/sprite.png") repeat -40px -150px;
	display:inline-block;
	width:16px;
	height:16px;
	line-height: 16px;
	vertical-align: middle;
	cursor:pointer;
}

.formRow .radio:hover{
	background-position:-40px -170px;
}

.formRow .radio.checked{
	background-position:-60px -150px;
}

.formRow .radio.checked:hover{
	background-position:-60px -170px;
}


/***************************
*		Submit button
***************************/


.formRow .button{
	background: url("../img/sprite.png") no-repeat 0 -70px;
	border: none;
	position:relative;
	cursor: pointer;
	display: inline-block;
	height: 34px;
	line-height: 34px;
	padding: 0 10px 0 15px;
	margin: 10px 0 0 120px;
	position: relative;
	text-shadow: 1px 1px 0 #272727;
}

.formRow .button span{
	background:url('../img/sprite.png') no-repeat 100% -70px;
	height:34px;
	right: -5px;
	top:0;
	position:absolute;
	width:10px;
}

.formRow .button:hover{
	background-position:0 -104px;
}

.formRow .button:hover span{
	background-position:100% -104px;
}

.formRow .button:active{
	bottom:-1px;
}